#form-informacion input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    min-height: 0px;
    padding: 0;
}

#form-informacion input[type="checkbox"]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#form-informacion .input-captcha {
    flex: 1 1 auto;
    min-height: 37px;
    border: 1px solid #eee;
    color: #081828;
    padding: 0.5em;
    background-color: #f5f5f5;
    padding-left: 20px;
}

#form-informacion input[type=number]::-webkit-inner-spin-button,
#form-informacion input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form-informacion input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 768px) {
    .contact-us .form-main .title {
        font-size: 1rem;
    }
}